.audiowide-regular {
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body{

    background-color:rgb(54, 53, 53);
    margin: 0%;
}

 .nav{
    display: flex;
    justify-content: space-between;
    margin-top: 0%;
    
    background-color: #040404;
    background-attachment: fixed;
   
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;   
    z-index: 800;
} 
.offScreen{
    display: flex;
    position: fixed;  
    left: -450px;    
}
.nav .logo{

    display: flex;
    font-size: 3rem;
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #ffdb89;    
}

.nav .logo .tech{

    color: whitesmoke;
   padding: 10px 5px 10px 5px ;
}

.nav .logo .nine{

    /* background-color:#ffdb89 ; */
    color: #ffdb89;
    padding: 10px 5px 10px 5px ;
}
.nav1{
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
    margin-top: 10px;
}


.nav1 .about button{

    margin-right: 20px;
    margin-top: 10px;
    font-size: 1.5rem;
    border-radius: 20px;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.nav .about button:hover{
    background-color: black;
    color: #ffdb89;
}


.nav1 .home button{
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 1.5rem;
    border-radius: 20px;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.nav .home button:hover{
    background-color: black;
    color: #ffdb89;
}
.nav1 .profile{
    color: #ffdb89;
    font-size: 2rem;
    margin-top: 15px ;
}

.option{
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: 2rem;
    margin-top: 90px;
}
.option .men p::before{

}
.option .men p:hover{
    color: aliceblue;
}
.option .women p::before{

}
.option .women p:hover{
    color: aliceblue;
}
a{text-decoration: none; color: #faaf00;}


.horizon{
    display: flex;
    justify-content: space-around;
    font-size: 1.3rem;
    color: #ffdb89;
}

.container1{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 50px;
}
.container1 img{
    width: 400px;
    height: 450px;
}
.container1 .details{
    
    background-color: rgb(207, 221, 233);
    padding: 0px 10px 0px 10px;
    border-radius: 5px;
}
.container1 .details .name{
    font-size: 3rem;
}
.container1 .details .price{
    font-size: 2rem;
}
.container1 .details .size{
    font-size: 1.5rem;
    margin-top: 10px;
}
.container1 .details .size-chart{
    display: flex;
    /* justify-content: space-between; */
    gap: 10px;
}
.container1 .details .size-chart button{
    font-size: 2rem;
    background-color: aliceblue;
    border: none;
}
.container1 .details .buy{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.container1 .details .buy button{font-size: 1.5rem;  border: none;}
.container1 .details .buy .buy-now{background-color: #faaf00;}
.container1 .details .buy .add{color: #faaf00; background-color: #040404;}

.suggest{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-family: "Audiowide", sans-serif;
    color: #ffdb89;
}
.like{
    display: flex;
    justify-content:center;
    gap: 90px;
    margin-bottom: 30px;
}

.like .one img{width: 250px;}
.like .two img{width: 213px;}
.like .three img{width: 210px;}
.like .four img{width: 240px;}
.like .name1{font-size: 1.5rem;}
.like .price{font-size: 1.5rem;}
.info{
    display: flex;
    background-color: #040404;
    color: #ffdb89;
    justify-content: center;
    padding-top: 30px ;
    padding-bottom: 30px;

}

.info .logo{
    display: flex;
    font-size: 2rem;
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #ffdb89;
    padding: 10px 5px 10px 5px ;
    
}
.info .logo .tech{

    color: whitesmoke;
}
.info .logo .nine{

    /* background-color:#ffdb89 ; */
    color: #ffdb89;
}
.info .links{

    margin-left: 400px ;
}
.info ul{
    list-style: none;
}

.info p{
    margin-left: 40px;
    font-size: 1.5rem;
}
.info li{
    margin-bottom: 10px;
}
.info .social{
    font-size: 3rem;
    margin-top: 30px;
    margin-left: 100px;
}

@media screen and (max-width: 640px) {
    
.nav{
    display: flex;
    
    margin-top: auto;
    
    background-color: #040404;
    background-attachment: fixed;
   
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;   
    z-index: 800;
}     

.nav .menu{
    /* background-color: black; */
    margin-left: 10px;
    margin-top: 10px;
    
}
.nav .logo{
    margin-top: 14px;
}


.nav .menu .hamMenu{

    height: 50px;
    width: 50px;
    margin-right: auto;
    position: relative;
        
 }

.nav .menu .hamMenu span{

    height: 3px;
    width: 70%;
    background-color: #ffdb89;
    border-radius: 25px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform:  translate(-50%, -50%);
    transition: .3s ease;
}

.nav .menu .hamMenu span:nth-child(1){

    top: 25%;
}

.nav .menu .hamMenu span:nth-child(3){

    top: 75%;
}

.nav .menu .hamMenu.active span:nth-child(1){
    
    transform : translate(-50%, -50%) rotate(45deg);
    top: 50%;
}

.nav .menu .hamMenu.active span:nth-child(2){
    opacity: 0;
}

.nav .menu .hamMenu.active span:nth-child(3){
    
    transform : translate(-50%, -50%) rotate(-45deg);
    top: 50%; 
}

.offScreen{
    display: flex;
    flex-direction: column;
    background-color: #040404;
    color: #ffdb89;
    height: 100vh;
    width: 100%;
    max-width: 450px;
    position: fixed;
    top: 0;
    z-index: 900px;
    transition: left .3s ease;
    margin-top: 50px ;
    text-align: center;
}

.offScreen.active{
    left: 0;
}

.offScreen .logo{
 
    display: flex;
    font-size: 2rem;
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #ffdb89;
    margin: 20px 0px 0px 100px;
    
}
.offScreen .tech{
    color: whitesmoke;
    
}


.offScreen ul {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-family: "Audiowide", sans-serif;
    text-transform: uppercase;
    font-size: 2rem;
    list-style: none;
    margin: 50px;
}
.offScreen a{

    text-decoration: none;
    color: #ffdb89;
}
.type button{
    font-size: 2rem;
    font-family: "Audiowide", sans-serif;
    border: none;
    border-radius: 10px;
}
.type button:hover{background-color: rgb(38, 37, 37); color: #ffdb89; }
.nav .logo{

    display: flex;
    font-size: 2.5rem;
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #ffdb89;  
    width: 80%

}

.nav .logo .tech{

    color: whitesmoke;
   padding: 0px 5px 10px 5px ;
}

.nav .logo .nine{

    /* background-color:#ffdb89 ; */
    color: #ffdb89;
    padding: 0px 5px 10px 5px ;
}
.nav1{
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
    margin-top: 10px;
}

.nav1 {display: none;}

.horizon{display: none;}
hr{display: none;}

.container1{
    display: flex;
    flex-direction: column;
}
.container1 .details{
    padding: 0px 20px 20px 20px ;
    
}

.like{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.info{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: start;

}

}