.audiowide-regular {
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body{

    background-color:rgb(54, 53, 53);
    margin: 0%;
}

 .nav{
    display: flex;
    justify-content: space-between;
    margin-top: 0%;
    
    background-color: #040404;
    background-attachment: fixed;
   
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;   
    z-index: 800;
} 
.offScreen{
    display: flex;
    position: fixed;  
    left: -450px;    
}

/*.nav .menu{
    background-color: black; 
    margin-left: 30px ;
    margin-top: 10px;
    
}

.nav .menu .hamMenu{

    height: 50px;
    width: 50px;
    margin-right: auto;
    position: relative;
        
 }

.nav .menu .hamMenu span{

    height: 5px;
    width: 100%;
    background-color: #ffdb89;
    border-radius: 25px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform:  translate(-50%, -50%);
    transition: .3s ease;
}

.nav .menu .hamMenu span:nth-child(1){

    top: 25%;
}

.nav .menu .hamMenu span:nth-child(3){

    top: 75%;
}

.nav .menu .hamMenu.active span:nth-child(1){
    
    transform : translate(-50%, -50%) rotate(45deg);
    top: 50%;
}

.nav .menu .hamMenu.active span:nth-child(2){
    opacity: 0;
}

.nav .menu .hamMenu.active span:nth-child(3){
    
    transform : translate(-50%, -50%) rotate(-45deg);
    top: 50%; 
}

.offScreen{
    display: flex;
    flex-direction: column;
    background-color: black;
    color: #ffdb89;
    height: 100vh;
    width: 100%;
    max-width: 450px;
    position: fixed;
    top: 0;
    left: -450px;
    transition: left .3s ease;
    margin-top: 70px ;
    text-align: center;
}

.offScreen.active{
    left: 0;
}

.offScreen .logo{
 
    display: flex;
    font-size: 3rem;
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #ffdb89;
    margin: 20px 0px 0px 100px;
    
}
.offScreen .tech{
    color: whitesmoke;
    
}


.offScreen ul {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-family: var(--font-heading);
    text-transform: uppercase;
    font-size: 2rem;
    list-style: none;

    margin: 50px;
}
.offScreen a{

    text-decoration: none;
    color: #ffdb89;
}*/


.nav .logo{

    display: flex;
    font-size: 3rem;
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #ffdb89;    
}

.nav .logo .tech{

    color: whitesmoke;
   padding: 10px 5px 10px 5px ;
}

.nav .logo .nine{

    /* background-color:#ffdb89 ; */
    color: #ffdb89;
    padding: 10px 5px 10px 5px ;
}
.nav1{
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
    margin-top: 10px;
}


.nav1 .about button{

    margin-right: 20px;
    margin-top: 10px;
    font-size: 1.5rem;
    border-radius: 20px;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.nav .about button:hover{
    background-color: black;
    color: #ffdb89;
}


.nav1 .home button{
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 1.5rem;
    border-radius: 20px;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.nav .home button:hover{
    background-color: black;
    color: #ffdb89;
}
.nav1 .profile{
    color: #ffdb89;
    font-size: 2rem;
    margin-top: 15px ;
}


.caroseler{
    position: relative;
    width: 900px;
    margin: auto;
    overflow: hidden;
    margin-top: 90px;
}

.caroseler img{
    width:100%;
    display: none;
}

img.display{
    display: block;
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .5;}
    to{opacity: 1;}
    
}


.option{
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: 2rem;
}
.option .men p:hover{
    color: aliceblue;
}
.option .women p::before{

}
.option .women p:hover{
    color: aliceblue;
}

.category{

    font-size: 2rem;
    /* background-color: green; */
    display: flex;
    justify-content: center;
}

.container1{
    /* background-color: #faaf00; */
    display: flex;
    justify-content: center;
    gap: 20px;

}

.container1 .techwear img{

    width: 400px;
    
}

.container1 .denim img{
    width: 399px;
}

.container2{
    /* background-color: #faaf00; */
    display: flex;
    justify-content: center;
    gap:5px;
    margin-right: 5px;
    margin-top: 15px;

}

.container2 .dress img{

    height: 490px;
    width: 400px;
    margin-left: 5px;
}
.container2 .denim2 img{
    
    margin-left: 15px; 
    height: 490px;
    width: 400px;
}

.best{
    font-size: 2rem;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 30px;
    color: #ffdb89;
}
a{text-decoration: none; color: #faaf00;}
.bestSeller{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.bestSeller .one img{width: 240px ; height: 290px; }
.bestSeller .two img{width: 230px;}
.bestSeller .three img{width: 195px;}
.bestSeller .four img{width: 195px;}
.bestSeller .name{font-size: 1.5rem;}
.bestSeller .price{font-size: 1.5rem;}


.info{
    display: flex;
    background-color: #040404;
    color: #ffdb89;
    justify-content: center;
    padding-top: 30px ;
    padding-bottom: 30px;

}
.info .logo{
    display: flex;
    font-size: 2rem;
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #ffdb89;
    padding: 10px 5px 10px 5px ;
    
}
.info .logo .tech{

    color: whitesmoke;
}
.info .logo .nine{

    /* background-color:#ffdb89 ; */
    color: #ffdb89;
}
.info .links{

    margin-left: 400px ;
}
.info ul{
    list-style: none;
}

.info p{
    margin-left: 40px;
    font-size: 1.5rem;
}
.info li{
    margin-bottom: 10px;
}
.info .social{
    font-size: 3rem;
    margin-top: 30px;
    margin-left: 100px;
}
    
.slides img{width:  0px; } 
.slider button{color: rgb(54, 53, 53); border: none; background-color: rgb(54, 53, 53);width: 0%;height: 0%;}


@media screen and (max-width: 640px) {
    .nav{
    display: flex;
    
    margin-top: auto;
    
    background-color: #040404;
    background-attachment: fixed;
   
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;   
    z-index: 800;
}     

.nav .menu{
    /* background-color: black; */
    margin-left: 10px;
    margin-top: 10px;
    
}


.nav .menu .hamMenu{

    height: 50px;
    width: 50px;
    margin-right: auto;
    position: relative;
        
 }

.nav .menu .hamMenu span{

    height: 3px;
    width: 70%;
    background-color: #ffdb89;
    border-radius: 25px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform:  translate(-50%, -50%);
    transition: .3s ease;
}

.nav .menu .hamMenu span:nth-child(1){

    top: 25%;
}

.nav .menu .hamMenu span:nth-child(3){

    top: 75%;
}

.nav .menu .hamMenu.active span:nth-child(1){
    
    transform : translate(-50%, -50%) rotate(45deg);
    top: 50%;
}

.nav .menu .hamMenu.active span:nth-child(2){
    opacity: 0;
}

.nav .menu .hamMenu.active span:nth-child(3){
    
    transform : translate(-50%, -50%) rotate(-45deg);
    top: 50%; 
}

.offScreen{
    display: flex;
    flex-direction: column;
    background-color: #040404;
    color: #ffdb89;
    height: 100vh;
    width: 100%;
    max-width: 450px;
    position: fixed;
    top: 0;
    left: -450px;
    transition: left .3s ease;
    margin-top: 70px ;
    text-align: center;
    z-index: 5;
}

.offScreen.active{
    left: 0;
}

.offScreen .logo{
 
    display: flex;
    font-size: 2rem;
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #ffdb89;
    margin: 20px 0px 0px 100px;
    
}
.offScreen .tech{
    color: whitesmoke;
    
}


.offScreen ul {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-family: "Audiowide", sans-serif;
    text-transform: uppercase;
    font-size: 2rem;
    list-style: none;
    margin: 50px;
}
.offScreen a{

    text-decoration: none;
    color: #ffdb89;
}
.type button{
    font-size: 2rem;
    font-family: "Audiowide", sans-serif;
    border: none;
    border-radius: 10px;
}
.type button:hover{background-color: rgb(38, 37, 37); color: #ffdb89; }
.nav .logo{

    display: flex;
    font-size: 2.5rem;
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #ffdb89;  
    width: 80%

}

.nav .logo .tech{

    color: whitesmoke;
   padding: 0px 5px 10px 5px ;
}

.nav .logo .nine{

    /* background-color:#ffdb89 ; */
    color: #ffdb89;
    padding: 0px 5px 10px 5px ;
}
.nav1{
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
    margin-top: 10px;
}

.nav1 {display: none;}

.option .men{display: none;}


.category{
    color: #faaf00;
}

.container1 {display: flex;}
.container1 .techwear img{width: 200px;}
.container1 .denim img{width: 200px;}

.container2{display: flex; row-gap: 5px;}
.container2 .dress img{ width: 200px; height: 270px; }
.container2 .denim2 img{width: 200px; height: 270px; }

.best{color: #ffdb89;}

.bestSeller{display: none;}

.slider{
    position: relative;
    width: 300px;
    margin: auto;
    overflow: hidden;
    z-index: -1;
}

.slider img{
    display: none;
    width: 300px;
    margin-bottom: 50px; 
}

img.displaySlide{
    display: block;
    animation-name: fade;
    animation-duration: 1.5s;
}
.slider button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #04040400;
    color:black;
    padding: 10px;
    font-size: 2rem;
    border: none;
    
}
.prev{
    left: 0%;
}
.next{
    right: 10%;
}
@keyframes fade {
    from {opacity: .5;}
    to{opacity: 1;}
    
}

.info{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: start;

}

.logo{margin-top: 50px;}

.info .links{

    margin-left: 0px ;
}    


.caroseler {
    position: relative;
    width: 450px; 
    margin-top: 150px;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap; 
    transition: transform 0.5s ease-in-out; 
    z-index: -1;
    }

.caroseler img {width: 500px;}

}

